# **Overview of the Task:**

This task involves implementing various programming concepts in Python, including Object-Oriented Programming (OOP), data manipulation with Pandas, algorithmic problem-solving, and multithreading.

**Object-Oriented Programming: Library System**

A Book class is created to represent books with attributes: title, author, and ISBN.

A Library class is implemented to manage books, including adding, removing, and displaying books.

Demonstrates the use of class methods to manipulate objects in a structured manner.

**Pandas: DataFrame Manipulation**

A Pandas DataFrame is created with product sales data.

Operations performed include:

Finding total sales per product.

Finding the highest sales value per region.

Adding a new column for a discounted price.

**String Manipulation: Reverse Words in a String**

A function is implemented to reverse the words in a string without using built-in reverse functions.

**Algorithm: Finding a Missing Number in an Array**

Given a list of n-1 numbers from 1 to n, a function is implemented to determine the missing number using the sum formula approach.

**Multithreading: Sum of Squares**

A program is written to compute the sum of squares of numbers from 1 to n using a separate thread for performance efficiency.

# **1.Object-Oriented Programming: Library System**

In [1]:
# import threading
import pandas as pd

# 1. Object-Oriented Programming: Library System
class Book:
    def __init__(self, title, author, isbn):
        self.title = title
        self.author = author
        self.isbn = isbn

    def __str__(self):
        return f"{self.title} by {self.author} (ISBN: {self.isbn})"

class Library:
    def __init__(self):
        self.books = []

    def add_book(self, book):
        self.books.append(book)

    def remove_book(self, isbn):
        self.books = [book for book in self.books if book.isbn != isbn]

    def display_books(self):
        for book in self.books:
            print(book)

# Example
lib = Library()
book1 = Book("Python Basics", "Akash", "1234")
book2 = Book("Data Science", "Maria", "5678")
lib.add_book(book1)
lib.add_book(book2)
lib.display_books()
lib.remove_book("2443")
lib.display_books()

Python Basics by John Doe (ISBN: 1234)
Data Science by Jane Doe (ISBN: 5678)
Data Science by Jane Doe (ISBN: 5678)

# ** 2. Pandas: DataFrame Manipulation**

In [2]:
# 2. Pandas: DataFrame Manipulation
data = {
    'Product': ['Z', 'E', 'Z', 'X', 'E', 'X'],
    'Sales': [100, 200, 150, 300, 250, 400],
    'Region': ['North', 'South', 'North', 'East', 'South', 'East']
}
df = pd.DataFrame(data)

# Total sales per product
total_sales = df.groupby('Product')['Sales'].sum()
print("Total Sales per Product:\n", total_sales)

# Highest sales value per region
highest_sales = df.groupby('Region')['Sales'].max()
print("Highest Sales per Region:\n", highest_sales)

# Adding a new column 'Discounted Price'
df['Discounted Price'] = df['Sales'] * 0.9
print("Updated DataFrame:\n", df)

Total Sales per Product:
 Product
E    450
X    700
Z    250
Name: Sales, dtype: int64
Highest Sales per Region:
 Region
East     400
North    150
South    250
Name: Sales, dtype: int64
Updated DataFrame:
   Product  Sales Region  Discounted Price
0       Z    100  North              90.0
1       E    200  South             180.0
2       Z    150  North             135.0
3       X    300   East             270.0
4       E    250  South             225.0
5       X    400   East             360.0

# **3. Reverse Words in a String**

In [3]:
# 3. Reverse Words in a String
def reverse_words(s):
    words = s.split()
    reversed_str = " ".join(words[::-1])
    return reversed_str

print(reverse_words("The World is great"))

great is World The

# **4. Algorithm: Find Missing Number in an Array**

In [4]:
# 4. Algorithm: Find Missing Number in an Array
def find_missing_number(arr):
    n = len(arr) + 1
    expected_sum = n * (n + 1) // 2
    actual_sum = sum(arr)
    return expected_sum - actual_sum

print(find_missing_number([1, 2, 4, 5, 6]))

3

# 5.Multithreading: Sum of Squares Using Threads

In [6]:
# 5. Multithreading: Sum of Squares Using Threads
import threading
def square_sum(n, result):
    result.append(sum(i * i for i in range(1, n + 1)))

n = 10
result = []
th = threading.Thread(target=square_sum, args=(n, result))
th.start()
th.join()
print("Sum of squares:", result[0])

Sum of squares: 385